@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anton);

.JokeText {
    margin: 6px 0px;
    color: #423E3B;
    background: #FFFECB;
    position: relative;
    font-family: Anton;
    font-weight: 50;
    letter-spacing: 1.1px;
    text-align: center;

    
    margin-inline-start: 152px;
    margin-inline-end: 152px;
    border-radius: 40px 40px 10px 10px;
}