@import url(https://fonts.googleapis.com/css?family=Anton);

.Title {
width: 300px;
height: 70px;

font-family: 'Anton';

font-weight: 400;
font-size: 50px;
line-height: 75px;

align-items: center;
text-align: center;

color: #423E3B;

}